footer {
    background: #f0f2f2;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    .ft-logo {
        margin-bottom: 15px;
    }
    .ft-description {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        text-align: left;
        color: #4a4a4a;
    }
    .block-wd {
        .block-title {
            font-size: 18px;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: left;
            color: #4a4a4a;
            margin-bottom: 25px;
            padding-top: 15px;
        }
    }
    .block-address {
        .link {
            display: block;
            width: 100%;
            float: left;
            margin-bottom: 15px;
            .img {
                float: left;
                width: 20px;
                margin-right: 15px;
            }
            .txt {
                float: left;
                width: calc(100% - 50px);
                font-size: 14px;
                font-weight: normal;
                line-height: 1.5;
                letter-spacing: 0.3px;
                text-align: left;
                color: #4a4a4a;
            }
            &::last-child {
                margin-bottom: 0;
            }
        }
    }
}

.block-social {
    li {
        display: inline-block;
        margin-right: 30px;
        &:hover {
            a {
                opacity: .7;
            }
        }
    }
}