footer {
    background: #f0f2f2;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    .ft-logo {
        margin-bottom: 15px;
        color: #FFC120;
        font-family: $fontOpensans;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 3px 3px 0px #727272;
    }
    .ft-description {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        text-align: left;
        color: #000;
    }
    .block-wd {
        .block-title {
            font-size: 18px;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: left;
            color: #000;
            margin-bottom: 25px;
            padding-top: 15px;
        }
    }
    .block-address {
        .link {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            .img {
                margin-right: 15px;
                i {
                    font-size: 22px;
                    color: #000;
                }
            }
            .txt {
                font-size: 14px;
                font-weight: normal;
                color: #000;
            }
            &::last-child {
                margin-bottom: 0;
            }
        }
    }
}

.block-social {
    li {
        display: inline-block;
        margin-right: 10px;
        &:hover {
            a {
                opacity: .7;
            }
        }
    }
}