.header {
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    .header-logo {
        padding: 27px 0;
    }
    .block-menu {
        .menu {
            position: relative;
            overflow: hidden;
            text-align: right;
            li {
                display: inline-block;
                vertical-align: middle;
                margin: 35px 0 35px 40px;
                a {
                    color: #6d6c6c;
                    font-size: 16px;
                    font-style: normal;
                    text-transform: uppercase;
                    &:hover {
                        color: #a41103;
                    }
                }
                &.active {
                    a {
                        color: #a41103;
                    }
                }
                &.search {
                    margin-right: 0px;
                }
            }
        }
    }
}
.search {
    position: relative;
    input[type="text"] {
        display: inline-block;
        font-weight: 100;
        border: none;
        outline: none;
        color: #555;
        padding: 3px;
        padding-right: 15px;
        width: 0;
        position: absolute;
        top: 0;
        right: 0;
        background: #FFF;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
    }
    input[type="text"]:focus:hover {
        border-bottom: 1px solid #BBB;
    }
    input[type="text"]:focus {
        width: 700px;
        z-index: 1;
        border-bottom: 1px solid #BBB;
        cursor: text;
    }
    input[type="submit"] {
        height: 20px;
        width: 20px;
        display: inline-block;
        color:red;
        float: right;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .4s ease;
        &:before {
            content: "\f002";
            font-family: "FontAwesome";
        }
    }
    input[type="submit"]:hover {
        opacity: 0.8;
    }
}