.header {
    background: #fff;
    // box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    .is-sticky {
        .stick-header {
            background: #FFF;
            z-index: 99;
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,1);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,1);
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,1);
        }
    }
    .header-top {
        background: #F5F5F5;
        .block-language {
            ul {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                text-align: right;
                li {
                    padding: 5px 7px;
                    border-left: 1px solid #DDD;
                    &:nth-child(1) {
                        order: 2;
                        border: none;
                        span {
                            &:last-child {
                                margin: 3px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        order: 1;
                    }
                    &:nth-child(3) {
                        order: 0;
                        border-right: 1px solid #DDD;
                    }
                    a {
                        color: #000;
                        font-size: 13px;
                        span {
                            &:last-child {
                                padding-top: 3px;
                            }
                        }
                        &:hover {
                            color: #a41103;
                        }
                    }
                }
            }
        }
    }
    .header-logo {
        padding: 20px 0;
        a {
            font-family: $fontOpensans;
            font-size: 30px;
            text-shadow: 3px 3px 0px #727272;
            color: #FFC120;
        }
    }
    .navbar-toggle {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: 0;
        padding: 0;
        margin-top: 0;
        cursor: pointer;
        .icon-bar {
            background-color: #c11201;
        }
    }
    .block-menu {
        background: #fff;
        z-index: 99;
        .menu {
            position: relative;
            overflow: hidden;
            text-align: right;
            li {
                display: inline-block;
                vertical-align: middle;
                margin: 30px 0 30px 40px;
                a {
                    color: #6d6c6c;
                    font-size: 16px;
                    font-style: normal;
                    text-transform: uppercase;
                    &:hover {
                        color: #a41103;
                    }
                }
                &.active {
                    a {
                        color: #a41103;
                    }
                }
                &.search {
                    margin-right: 0px;
                    position: relative;
                    form {
                        border-bottom: 1px solid #BBB;
                        width: 0;
                        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
                        position: absolute;
                        top: -3px;
                        right: -200%;
                        input {
                            width: calc(100% - 20px);
                            display: inline-block;
                            vertical-align: middle;
                            padding: 3px 0;
                        }
                        button {
                            display: inline-block;
                            vertical-align: middle;
                            background: none;
                            border: none;
                        }
                    }
                    &:hover {
                        form {
                            width: 700px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .block-menu {
            .menu {
                li {
                    &.search {
                        &:hover {
                            form {
                                width: 600px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .header {
        .block-menu {
            .menu {
                li {
                    margin: 35px 0 20px 20px;
                    &.search {
                        &:hover {
                            form {
                                width: 420px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .block-menu {
            .menu {
                display: block !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        .header-logo {
            padding: 10px 0;
        }
        .block-menu {
            .menu {
                display: none;
                text-align: left;
                li {
                    display: block;
                    margin: 0 0 15px;
                    a {
                        font-size: 14px;
                    }
                    &.search {
                        &:hover {
                            form {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}