/* ======================== FONTS ======================== */
$fontMerriweather : 'Merriweather', serif;
$fontUnna : 'Unna', serif;
$fontOpensans : 'Open Sans', serif;

/* ======================== LIST ======================== */
$heading: h1 h2 h3 h4 h5 h6;

/* ======================== URL ======================== */
$url-images: '../images/';