.block-partner {
    display: none;
    .owl-carousel {
        .owl-dots {
            text-align: center;
        }
        .owl-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #FFF;
            border: 2px solid #E2E6E7;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            margin-left: 10px;
            margin-top: 30px;
            transition: all .3s;
            &::first-child {
                margin-left: 0;
            }
            &:hover, &.active {
                transition: all .3s;
                border-color: #F68220;
            }
        }
    }
}